.App {
  text-align: center;
}

.App-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 180px;
  width: 180px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-error-msg {
  color: red;
}

.App-success-msg {
  color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
